<html>
<head>
  <meta charset="UTF-8">
  <title>CS 416 Narrative Visualization Afif Shomali</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://rawgit.com/susielu/d3-annotation/master/d3-annotation.min.js"></script>
  <script src="../scripts.js"></script>
  <link rel="stylesheet" href="../styles/main.css">

</head>
<body onload="chart1()">
  <div class="container">
    <h1 class="title">How do Covid Cases and Total Job Losses Relate?</h1>
    
    <p>
      We see that generally as Covid-19 Cases increase, the total number of jobs lost for a state also increase. 
      However we see that this relationship isn't perfect with many outliers and exceptions. 
      We see that New York and California lost significantly more jobs compared to states with similar numbers of cases. 
      There were also two states that gained jobs during the Covid-19 Pandemic.<br>
      Keep in mind that a negative job loss number & rate means the state gained jobs. The size of the circles are plotted proportional 
      to the states poplation size, with higher populations resulting in a larger circle.<br>
      <p> &#8505;  Hover over a data point to reveal a tooltip with additional information</p>
     

    </p>

    <div id="chart1">

      
    </div>

    <a href="../index.html" class="back-button">Back</a>
    <a href="page3.html" class="next-button">Next</a>
  </div>

</body>
</html>