<html>
<head>
  <meta charset="UTF-8">
  <title>CS 416 Narrative Visualization Afif Shomali</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://rawgit.com/susielu/d3-annotation/master/d3-annotation.min.js"></script>
  <script src="../scripts.js"></script>
  <link rel="stylesheet" href="../styles/main.css">

</head>
<body onload="chart1()">
  <div class="container">
    <h1 class="title">How do Covid Cases and Total Job Losses Relate?</h1>
    
    <p>Talk about how generally there is certain trend
      mention outliers as well, add note about tooltips
      so that the user can hover, keep in mind negative job loss means 
      that jobs were gained, Talk about what this plots + that size of 
      circles are population etc
    </p>

    <div id="chart1"></div>
    <a href="../index.html" class="back-button">Back</a>
    <a href="templates/page3.html" class="next-button">Next</a>
  </div>

</body>
</html>