<html>
<head>
  <meta charset="UTF-8">
  <title>CS 416 Narrative Visualization Afif Shomali</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://rawgit.com/susielu/d3-annotation/master/d3-annotation.min.js"></script>
  <script src="../scripts.js"></script>
  <link rel="stylesheet" href="../styles/main.css">

</head>
<body onload="chart2()">
  <div class="container">
    <h1 class="title">What about Deaths in relation to Job Losses?</h1>
    
    <p>
      This chart maps a job loss rate (Jobs Lost per 100k Employed) compared to a death rate(Deaths per 100k), which reveals some more 
      information to us. We see that most regions are pretty spread out in regards to their job loss rates.<br>
      However we see that more than half the states from the North East region are grouped together with high 
      job loss rates and high death rates. Once again we see Utah and Idaho as outliers which experienced an increase
      in the number of jobs.<br>
      Once again note that the colors represent regions and the sizes of the circles represent the populations
      of the states<br>
      <p> &#8505;  Hover over a data point to reveal a tooltip with additional information</p>
     

    </p>

    <div id="chart2"></div>
    <a href="page2.html" class="back-button">Back</a>
    <a href="page4.html" class="next-button">Next</a>
  </div>

</body>
</html>