<html>
<head>
  <meta charset="UTF-8">
  <title>CS 416 Narrative Visualization Afif Shomali</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://rawgit.com/susielu/d3-annotation/master/d3-annotation.min.js"></script>
  <script src="../scripts.js"></script>
  <link rel="stylesheet" href="../styles/main.css">

</head>
3<body onload="chart3()">
  <div class="container">
    <h1 class="title">Place Holder</h1>
    
    <p>
      Place Holder
     

    </p>

    <div id="chart3"></div>
    <a href="page3.html" class="back-button">Back</a>
    <a href="page5.html" class="next-button">Next</a>
  </div>

</body>
</html>