<html>
<head>
  <meta charset="UTF-8">
  <title>CS 416 Narrative Visualization Afif Shomali</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://rawgit.com/susielu/d3-annotation/master/d3-annotation.min.js"></script>
  <script src="../scripts.js"></script>
  <link rel="stylesheet" href="../styles/main.css">

</head>
<body>
  <div class="container">
    <h1 class="title">Conclusion</h1>
    
    <p>
      This is the end of the slideshow showing how Covid-19 has affected Job Losses in the US. 
      We've seen that there is a large amount of variability between the number of jobs losses between states and that the two states managed to have a net gain of jobs. 
      On the second slide we saw that a large portion of North Eastern states suffered a higher rate of job losses as well as a higher death rate. While states from other regions
      were generally evenly distributed.
      Additionally, not all industries lost the same number of jobs which you discovered when exploring the distribution of job losses in the previous slide. 
      It’s important to keep in mind that the data is estimated amounts for low-income jobs (jobs making less than $40,000) so the real-world numbers may be different, 
      and the dataset doesn’t consider job losses for earners above 40k.<br>

      Click the green button if you would like to return to the start of the slideshow.
     

    </p>

    <div id="chart2"></div>
    <a href="page4.html" class="back-button">Back</a>
    <a href="../index.html" class="next-button">Back to Start Page</a>
  </div>

</body>
</html>